*{
	margin: 0;
}
html,body{
	height: 100%;
	width: 100%;
}

.player-bg{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
	width: 100%;
	height: 100%;
	z-index: 1;
	-webkit-filter:blur(40px);
	filter: blur(40px);
}
.player-opacity{
	position: absolute;
	top: 0;
	background-color: aliceblue;
	width: 100%;
	height: 100%;
	opacity:0.4;
	filter:Alpha(opacity=40); /* IE8 以及更早的浏览器 */
	z-index: 2;
}
.player-main{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
	display: flex;
	align-items: center;
	justify-content: center;
}
.player-content{
	padding: 20px;
	background-color: white;
	border-radius: 25px;
	width: 400px;
	height: 120px;
	box-shadow: 0 0 30px 0 #333;
	position: relative;
}
#img{
	height: 100%;
}
.img{
	background-size: cover;
	width: 120px;
	height: 120px;
	border: 5px solid silver;
	border-radius: 120px;
	overflow: hidden;
	margin-left: 5px;
	animation: rotate 8s linear infinite;
	display: flex;
	align-items: center;
	justify-content: center;
}
.img:hover{
	animation-play-state: paused;
}
.boder{
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background-color: silver;
}
.detail{
	width: calc(100% - 180px);
	position: absolute;
	top: 5px;
	right: 10px;
	height: 50%;
	overflow: hidden;
}
.title{
	margin-top: 3px;
	font-size: 22px;
	font-weight: bold;
	color: #666;
	line-height: 40px;
	height: 40px;
	overflow: hidden;
}
.author{
	margin-top: 3px;
	font-size: 14px;
	font-weight: 500;
	color: #999;
	line-height: 20px;
}
.opration{
	width: calc(100% - 180px);
	position: absolute;
	bottom: 5px;
	right: 10px;
	height: 50%;
	font-size: 50px;
}
.opration div{
	float: left;
	margin: 0 16px;
	border-radius: 7px;
	text-align: center;
	color: #999;
	line-height: 50px;
}
.opration div:hover{
	background-color: #C0C0C0;
	color: white;
}
@keyframes rotate{
	0%{transform: rotate(0deg);}
	50%{transform: rotate(-180deg);}
	100%{transform: rotate(-360deg);}
}
@media screen and (max-width: 650px) {
	.player-content{
		width: 85%;
	}
	.opration div{
		margin: 0 3px;
		width: 28%;
	}
}